/* -- Global -- */

body {
  margin: 0px;
}

.hidden {
  display: none !important;
}

#ad {
  display: block;
  overflow: hidden;
  width: 160px;
  height: 600px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#banner {
  position: absolute;
  display: block;
  width: 160px;
  height: 600px;
  background-color: #FFF;
  background-image: url("../images/backup.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* -- Video -- */

.video-container {
  margin-top: 54px;
  height: 174px;
  width: 160px;
  position: absolute;
  visibility: hidden;
}

video {
  width: 100%;
  height: 100%;
}

.ios-center-video-controls video::-webkit-media-controls {
  min-width: 0;
}

.video-container button {
  position: absolute;
  top: 8px;
  right: 7px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.video-container button#video-play {
  background-image: url("../images/play.png");
}

.video-container button#video-pause {
  background-image: url("../images/pause.png");
}
