/* -- Global -- */

body {
  margin: 0px;
}

#ad {
  display: block;
  overflow: hidden;
  width: 300px;
  height: 50px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#banner {
  position: absolute;
  display: block;
  width: 300px;
  height: 50px;
  background-color: #FFF;
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* --------------------------------------- */

img {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

img.animation {
  -webkit-animation: animation-keyframes 15s linear 0s 1 normal forwards;
  animation: animation-keyframes 15s linear 0s 1 normal forwards;
}

img#img-1 {
  z-index: 20;
  opacity: 0;
}
img#img-2 {
  z-index: 10;
}

@-webkit-keyframes animation-keyframes {
  0% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  13% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  17% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  30% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  33% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  46.67% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  50% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  63.33% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  66.67% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  80.33% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  83.33% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  96.67% {
    left: 0px;
    top: 0px;
    opacity: 0.999999940395355;
    -webkit-animation-timing-function: linear;
  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
}

@keyframes animation-keyframes {
  0% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  13% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  17% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  30% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  33% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  46.67% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  50% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  63.33% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  66.67% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  80.33% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
  83.33% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-animation-timing-function: linear;
  }
  96.67% {
    left: 0px;
    top: 0px;
    opacity: 0.999999940395355;
    -webkit-animation-timing-function: linear;
  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-animation-timing-function: linear;
  }
}
